extends layout

block content
  body
    // Barra de Navegación
    header.w3-top
      .w3-bar.w3-black
        a.w3-bar-item.w3-button.w3-blue.w3-padding-16(href="/") Home
        a.w3-bar-item.w3-button.w3-blue.w3-padding-16(href="/genrelist") Genre List
        a.w3-bar-item.w3-button.w3-blue.w3-padding-16(href="/alphabeticlist") A-Z List
        button.w3-bar-item.w3-button.w3-red.w3-right.w3-padding-16(onclick="document.getElementById('id01').style.display='block'") Login
        #id01.w3-modal
          .w3-modal-content.w3-card-4.w3-animate-zoom.w3-black(style="max-width:600px")
            .w3-center
              br
              span.w3-button.w3-xlarge.w3-hover-red.w3-display-topright(onclick="document.getElementById('id01').style.display='none'" title="Close Modal") ×
            form.w3-container(action="/action_page.php")
              .w3-section
                label
                  b Usernames
                input.w3-input.w3-border.w3-margin-bottom(type="text" placeholder="Enter Username" name="usrname" required="")
                label
                  b Password
                input.w3-input.w3-border(type="password" placeholder="Enter Password" name="psw" required="")
                button.w3-button.w3-block.w3-green.w3-section.w3-padding(type="submit") Login
                input.w3-check.w3-margin-top(type="checkbox" checked="checked")
                |  Remember me?
            .w3-container.w3-border-top.w3-padding-16.w3-black
              button.w3-button.w3-red(onclick="document.getElementById('id01').style.display='none'" type="button") Cancel
              span.w3-right.w3-padding.w3-hide-small
                | Forgot 
                a(href="#") password?
        a.w3-bar-item.w3-button.w3-blue.w3-padding-16(href="/searchpage") Search for Titles
    br
    br
    // Slideshow de Contenido (3)
    section.w3-content.w3-display-container
      each s, i in seasons
        a(href="/series/" + s._id)
          .w3-row-padding.mySlides
            .w3-col.s4
              img.w3-animate-top(src=s.cover style="width:322px;height:450px;", href="/series/" + s._id)
            .w3-col.s8
              h1=s.name
              p=s.description
              hr 
        button.w3-button.w3-display-left.w3-white.w3-opacity-min(onclick="plusDivs(-1)") ◁
        button.w3-button.w3-display-right.w3-white.w3-opacity-min(onclick="plusDivs(+1)") ▷
    script.
      // Slideshow automática - cambia de imagen cada 3 segundos.
      var slideIndex = 1;
      showDivs(slideIndex);
      carousel();
      function carousel() {
      var i;
      var x = document.getElementsByClassName("mySlides");
      for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
      }
      slideIndex++;
      if (slideIndex > x.length) {
      slideIndex = 1
      }
      x[slideIndex - 1].style.display = "block";
      setTimeout(carousel, 6000);
      }
      function plusDivs(n) {
      showDivs(slideIndex += n);
      }
      function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      if (n > x.length) {
      slideIndex = 1
      }
      if (n < 1) {
      slideIndex = x.length
      }
      for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
      }
      x[slideIndex - 1].style.display = "block";
      }
    // Lista de Shows en Homepage

    .w3-row
      each s, i in seasons
        .w3-col.s4
          .w3-container
            .w3-card-4(style="width:75%; border: 2px solid dark-blue; border-radius: 8px;")
              .w3-container.w3-center(style="width:100%")
                h3=s.name
                img(src=s.cover alt="Imagen" style="width:222px;height:350px;")
                .w3-section
                  button.w3-button.w3-green Save to List
                  a.w3-button.w3-red(href="/series/" + s._id) Start Watching
    // Footer
    footer.w3-container.w3-black(style="bottom:0;width:100%")
      a.w3-bar-item.w3-button.w3-blue.w3-right(href="https://github.com/amadeomendez/PaginaWeb2019")
        i.fab.fa-github
